*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(fonts/Ubuntu-Regular.ttf);
}


body{
    background-image: url(image/tonia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Ubuntu';
}

/*ШАПКА МОБИЛЬНОГО САЙТА*/

.mobile-header{
    width: 100vw;
    height: 15vw;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
    align-items: center;
    justify-content: space-around;
}

.mobile-header .name-block{
    margin: 0 0 0 10px;
}

.mobile-header .name-block h1{
    font-size: 20px;
    margin-top: 10px;
}

.mobile-header .name-block h2{
    font-size: 15px;
    
}

.burger{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;           
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0;
}

.burger div{
    width: 20px;
    height: 2px;
    background-color: white;
}

.burger-touch{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

/*ШАПКА БОЛЬШОГО САЙТА*/

header{
    width: 100vw;
    height: 20vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    display: flex;                              
    align-items: center;
    justify-content: flex-start;
}

.header-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    
}

.header-block .logo-block{
    flex-grow: 1;
    
}

.header-block .logo-block svg{
    width: 25vh;
    height: 25vh;
}

.header-block .main-block{
    flex-grow: 20;
}

.header-block .main-block .name-block{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-block .main-block .name-block h1{
    font-size: 30px;
}

.header-block .main-block .name-block h2{
    font-size: 20px;
}

.header-block .page-block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0 0 0;
}

.header-block .page-block .pages{
    text-decoration: none;
    font-size: 17px;
    color: white;
    transition: .5s;
}

.header-block .page-block .pages:hover{
    transform: scale(1.2);
}

.header-block .links-block{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 20vh;
}

.header-block .links-block a{
    text-decoration: none;
}

.header-block .links-block svg{
    width: 30px;
    height: 30px;
    fill: white;
    transition: .5s;
}

.header-block .links-block svg:hover{
    transform: scale(1.2);
}

/*МЕНЮ МОБИЛЬНОГО САЙТА*/

.mobail-menu{
    display: none;
    margin-top: 15vw;
    width: 100vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, .4);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.mobail-menu .page-block{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.mobail-menu .page-block a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/*ОСНОВНОЙ КОНТЕНТ*/

main{
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin: 22vh 0 5vw 5vw;
    background-color: rgba(0, 0, 0, .3);
}

main p{
    width: 50vw;
    font-size: 20px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-top: 15px;
}

main p a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/*НИЖНИЙ БЛОК*/

footer{
    height: 20vh;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
}

footer .name-adress{
    width: 80vw;
    margin: 20px 0 10px 20px;
}

footer .name-adress p{
    font-size: 20px;
}

footer .name-adress span{
    font-size: 15px;
    padding-top: 20px;
}

footer .links-block{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

footer .links-block a{
    text-decoration: none;
}

footer .links-block svg{
    width: 30px;
    height: 30px;
    fill: white;
    transition: .5s;
}

footer .links-block svg:hover{
    transform: scale(1.2);
}

footer .none-block{
    width: 100%;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, .4);
    color: black;
}

/*ДЛЯ ПЛАНШЕТА*/

@media only screen and (max-width: 1024px) {
    header{
        height: 13vh;
    }
    main{
        margin: 15vh 0 2vw 5vw;
        background-color: rgba(0, 0, 0, .3);
    }
    .header-block .logo-block svg{
        width: 15vh;
        height: 15vh;
    }
    .header-block .links-block{
        height: 10vh;
    }
    .header-block .links-block svg{
        width: 25px;
        height: 25px;
    }
}

/*ДЛЯ МОБИЛЬНОЙ ВЕРСИИ*/

@media only screen and (max-width: 1000px) { /*450*/
    .mobile-header{
        display: flex;
    }
    header{
        display: none;
    }
    main{
        width: 90vw;
        margin: 17vw 0 0 5vw;
    }
    main p{
        width: 70vw;
        font-size: 15px;
        margin-bottom: 30px;
    }
    footer .name-adress p{
        font-size: 15px;
    }
    
    footer .name-adress span{
        font-size: 10px;
        padding-top: 15px;
    }
}

/* SCROLL */

/* W3C standard
   сейчас только для Firefox */
   * {
    scrollbar-width: thin;
    scrollbar-color: black rgba(0, 0, 0, .4)black;
  }
  
  /* для Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    height: 4px; 
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    background: black;
  }
  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .4);
  }